body {
    background: rgb(90, 136, 173);
}

#playerName {
 width: 200px;

}

.rps {
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;
    padding: 8px;
    margin: 5px;
    border: 2px solid #888;
    transition: 0.4s;
}

.showguess {
    font-size: 25px;
    font-style: italic;
    padding: 10px 0px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.hidden {
    visibility: hidden;
}

.results {
    border: 2px solid #AAA;
    height: 30px;
}


.chat {
    margin: auto;
    width: 900px;
    height: 250px;
    background: #FFF;
}

.room {
    width: 100%;
    height: 212px;
    overflow: auto;
}

.mychat {
    background: #eee;
    margin: 3px 5px;
    border-radius: 10px;
    padding-left: 10px;
}

.dropshadow{
    box-shadow: 0px 0px 10px #000;
}